.product .form-horizontal ul.input-many{
  margin-left: 0px;
}
.product .form-horizontal .input-many-item .control-group {
  margin-bottom: 6px;
}

#product-form .control-group label {
  width:17%;
  margin-right:5px;
  text-align: left;
  
}
.product ul.input-many > li > div.input-many-item {
  border: 0;
  padding-top: 5px;
}
.product ul.input-many .buttons{
  display: none;
}
.product ul.input-many .variation-field{
  display: none;
}




.new-page.sale #add-product-form input {
  font-size: 1.8em;
  height: 1.5em;
  margin-top: 0;
}
.new-page.sale #add-product-form button{
  margin-top:2px;
}

.new-page.sale .form-horizontal .actions {
  padding-left: 0px;
}


#products .control-group label {
  width:17%;
  margin-right:5px;
  text-align: left;
  
}
